<!DOCTYPE html>
<html ng-app="fantasy-football">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Football 2014 Projections</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/2014.1.318")
    @Scripts.Render("~/bundles/modernizr")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="brand">Fantasy Football Projections</div>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>

</html>

